<a href="https://colab.research.google.com/github/Ragorfish/Python/blob/main/Assignement_1st.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a code to reverse a string

In [3]:
def reverse_string(s):
    return s[::-1]

print(reverse_string("PWSkills"))

sllikSWP

Write a code to count the number of vowels in a string

In [4]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

print(count_vowels("PWSkills"))

1

Write a code to check if a given string is a palindrome or not

In [5]:
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))

True

Write a code to check if two given strings are anagrams of each other

In [6]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

print(are_anagrams("listen", "silent"))

True

Write a code to find all occurrences of a given substring within another string

In [7]:
def find_occurrences(string, substring):
    return [i for i in range(len(string)) if string.startswith(substring, i)]

print(find_occurrences("banana", "ana"))

[1, 3]

Write a code to perform basic string compression using the counts of repeated characters

In [8]:
def compress_string(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

print(compress_string("aaabbc"))

a3b2c1

Write a code to determine if a string has all unique characters

In [9]:
def has_unique_chars(s):
    return len(set(s)) == len(s)

print(has_unique_chars("abcde"))

True

Write a code to convert a given string to uppercase or lowercase

In [10]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()

print(convert_case("PWSkills", to_upper=True))

PWSKILLS

Write a code to count the number of words in a string

In [11]:
def count_words(s):
    return len(s.split())

print(count_words("PWSkills is amazing"))

3

Write a code to concatenate two strings without using the + operator

In [12]:
def concatenate_strings(s1, s2):
    return "{}{}".format(s1, s2)

print(concatenate_strings("PW", "Skills"))

PWSkills

Write a code to remove all occurrences of a specific element from a list

In [13]:
def remove_element(lst, element):
    return [x for x in lst if x != element]

print(remove_element([1, 2, 3, 4, 3], 3))

[1, 2, 4]

Implement a code to find the second-largest number in a given list of integers

In [14]:
def second_largest(lst):
    unique_lst = list(set(lst))
    unique_lst.sort()
    return unique_lst[-2] if len(unique_lst) > 1 else None

print(second_largest([1, 2, 3, 4, 5]))

4

Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [15]:
from collections import Counter

def count_occurrences(lst):
    return dict(Counter(lst))

print(count_occurrences([1, 2, 2, 3, 3, 3]))

{1: 1, 2: 2, 3: 3}

Write a code to reverse a list in place without using any built-in reverse functions

In [16]:
def reverse_list(lst):
    for i in range(len(lst) // 2):
        lst[i], lst[-i - 1] = lst[-i - 1], lst[i]
    return lst

print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [17]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

print(remove_duplicates([1, 2, 2, 3, 4, 3]))

[1, 2, 3, 4]

Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [18]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

print(is_sorted([1, 2, 3]))

True

Write a code to merge two sorted lists into a single sorted list

In [19]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)

print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

Implement a code to find the intersection of two given lists

In [20]:
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

print(intersection([1, 2, 3], [2, 3, 4]))

[2, 3]

Create a code to find the union of two lists without duplicates

In [21]:
def union(lst1, lst2):
    return list(set(lst1) | set(lst2))

print(union([1, 2, 3], [2, 3, 4]))

[1, 2, 3, 4]

Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [26]:
import random

def shuffle_list(lst):
    shuffled = lst[:]
    for i in range(len(shuffled)):
        j = random.randint(0, len(shuffled) - 1)
        shuffled[i], shuffled[j] = shuffled[j], shuffled[i]
    return shuffled

print(shuffle_list([1, 2, 3, 4, 5]))

[3, 1, 5, 2, 4]

Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [27]:
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

# Example usage
print(common_elements((1, 2, 3), (3, 4, 5)))

(3,)

Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [28]:
def intersection_of_sets():
    set1 = set(map(int, input("Enter first set of integers (comma-separated): ").split(',')))
    set2 = set(map(int, input("Enter second set of integers (comma-separated): ").split(',')))
    return set1 & set2

# Example usage
print(intersection_of_sets())

Enter first set of integers (comma-separated): 1,2,3,4,5
Enter second set of integers (comma-separated): 2,3,4,5,6
{2, 3, 4, 5}

Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [29]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

# Example usage
print(concatenate_tuples((1, 2, 3), (4, 5, 6)))

(1, 2, 3, 4, 5, 6)

Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [30]:
def set_difference():
    set1 = set(input("Enter first set of strings: ").split())
    set2 = set(input("Enter second set of strings: ").split())
    return set1 - set2

# Example usage
print(set_difference())

Enter first set of strings: PWSKILLS
Enter second set of strings: PWLABS
{'PWSKILLS'}

Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [31]:
def slice_tuple(tup, start, end):
    return tup[start:end+1]

# Example usage
print(slice_tuple((1, 2, 3, 4, 5), 1, 3))

(2, 3, 4)

Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [32]:
def union_of_sets():
    set1 = set(input("Enter first set of characters: ").split())
    set2 = set(input("Enter second set of characters: ").split())
    return set1 | set2

# Example usage
print(union_of_sets())

Enter first set of characters: a,c,v,f,g
Enter second set of characters: l,g,j,i
{'l,g,j,i', 'a,c,v,f,g'}

Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [33]:
def max_min_tuple(tup):
    return max(tup), min(tup)

# Example usage
print(max_min_tuple((1, 2, 3, 4, 5)))

(5, 1)

Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [34]:
def set_operations():
    set1 = {1, 2, 3}
    set2 = {3, 4, 5}
    return {
        "Union": set1 | set2,
        "Intersection": set1 & set2,
        "Difference": set1 - set2
    }

# Example usage
print(set_operations())

{'Union': {1, 2, 3, 4, 5}, 'Intersection': {3}, 'Difference': {1, 2}}

Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [35]:
def count_in_tuple(tup, element):
    return tup.count(element)

# Example usage
print(count_in_tuple((1, 2, 3, 1, 1), 1))

3

Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference between these two sets

In [36]:
def symmetric_difference():
    set1 = set(input("Enter first set of strings: ").split())
    set2 = set(input("Enter second set of strings: ").split())
    return set1 ^ set2

# Example usage
print(symmetric_difference())

Enter first set of strings: PWSKILLS
Enter second set of strings: PWSKLS
{'PWSKLS', 'PWSKILLS'}

Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [37]:
from collections import Counter

def word_frequency(words):
    return dict(Counter(words))

# Example usage
print(word_frequency(["apple", "banana", "apple", "orange", "banana", "apple"]))

{'apple': 3, 'banana': 2, 'orange': 1}

Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [38]:
def merge_dictionaries(dict1, dict2):
    merged = dict1.copy()
    for key, value in dict2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value
    return merged

# Example usage
print(merge_dictionaries({"a": 1, "b": 2}, {"b": 3, "c": 4}))

{'a': 1, 'b': 5, 'c': 4}

Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [39]:
def access_nested_dict(d, keys):
    for key in keys:
        if key in d:
            d = d[key]
        else:
            return None
    return d

# Example usage
nested_dict = {"a": {"b": {"c": 42}}}
print(access_nested_dict(nested_dict, ["a", "b", "c"]))

42

Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [40]:
def sort_dict_by_values(d, descending=False):
    return dict(sorted(d.items(), key=lambda x: x[1], reverse=descending))

# Example usage
print(sort_dict_by_values({"a": 3, "b": 1, "c": 2}))

{'b': 1, 'c': 2, 'a': 3}

Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

In [41]:
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        inverted.setdefault(value, []).append(key)
    return inverted

# Example usage
print(invert_dict({"a": 1, "b": 2, "c": 1}))

{1: ['a', 'c'], 2: ['b']}